body {
    background-color: lightblue;
}

input {
    width: 100%;
}


.list-group {
    column-gap: 5px;
}

.list-group-item {
    margin: 5px 0;
    text-align: center;
}

#weather-heading {
    text-align: center;
}